<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Other tags -->
    <meta name="dicoding:email" content="salim.yaklu@gmail.com" />
    <!-- Other tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Usaha Lokal - Nama UMKM</title>
  </head>
  <body class="font-plusJakarta bg-alabaster w-screen overflow-x-hidden">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <!-- Main Content -->
    <section class="mx-20.5 mt-40">
      <h2 class="uppercase text-princetonOrange font-semibold">
        ||<span class="ml-3">Usaha Lokal</span>
      </h2>
      <div class="flex justify-between mb-32 w-full">
        <div class="flex flex-col">
          <div class="flex items-center justify-between mt-7">
            <h3 class="text-5xl font-semibold">Usaha Makmur Selalu</h3>
            <p class="font-medium text-2xl">
              <i class="fa-solid fa-star text-[#F9BD22] pe-2"></i>4.8
            </p>
          </div>
          <div class="mt-16">
            <h3 class="text-xl font-semibold">Deskripsi</h3>
            <p class="text-xl text-gray-500 w-[640px] mt-2">
              Usaha kami berdedikasi dalam menghasilkan kerajinan tangan
              berkualitas tinggi, khususnya Tas Anyaman. Setiap tas dibuat
              dengan keterampilan dan keahlian yang diwariskan secara
              turun-temurun, menggunakan bahan-bahan alami yang ramah
              lingkungan. Dengan desain yang unik dan fungsionalitas yang
              tinggi, tas anyaman dari Usaha Makmur Selalu menjadi pilihan
              sempurna untuk berbagai kesempatan, dari acara formal hingga
              penggunaan sehari-hari.
            </p>
          </div>
          <div class="mt-8">
            <h3 class="text-xl font-semibold">Lokasi</h3>
            <p class="text-xl text-gray-500 w-[640px] mt-2">
              Kupang, Nusa Tenggara Timur
            </p>
          </div>
          <div class="mt-8">
            <h3 class="text-xl font-semibold">Kontak</h3>
            <p class="text-xl text-gray-500 w-[640px] mt-2">
              <i class="fa-solid fa-phone pe-2"></i>+62 821 8810 9999
            </p>
            <p class="text-xl text-gray-500 w-[640px] mt-2">
              <i class="fa-solid fa-envelope pe-2"></i
              >usahamakmurselalu21@gmail.com
            </p>
          </div>
          <a
            href="#"
            class="text-center text-white py-2 w-full rounded-xl bg-princetonOrange mt-20"
            >Selengkapnya</a
          >
        </div>
        <div class="relative h-[752px] w-[629px] rounded-3xl overflow-hidden">
          <img
            src="images/tas-rajut.jpg"
            alt="danau toba"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-15"></div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <app-footer></app-footer>
  </body>
</html>
