<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Other tags -->
    <meta name="dicoding:email" content="salim.yaklu@gmail.com" />
    <!-- Other tags -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <style>
    .line-clamp {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4; 
      white-space: normal;
    }
  </style>
  <title>Usaha Lokal</title>
</head>
<body class="font-plusJakarta bg-alabaster w-screen overflow-x-hidden">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Hero -->
  <section id="hero" class="h-screen relative overflow-hidden">
    <img src="images/labuan-bajo.webp" alt="penyu" class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-black opacity-50"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center z-10">
      <h1 class="text-5xl font-semibold text-white">Kenali dan Dukung Usaha Lokal di Nusantara</h1>
      <p class="text-white text-lg mt-6 text-center">Temukan Produk dan Layanan Berkualitas dari UMKM di Seluruh Indonesia, dan <br>Jadilah Bagian dari Pertumbuhan Ekonomi Lokal</p>
    </div>
  </section>

  <!-- UMKM List -->
  <section class="mx-20.5 mt-28">
    <div class="flex justify-between items-center  mb-20">
      <h2 class="text-3xl font-semibold">Daftar UMKM</h2>
      <div class="w-80 bg-gray-300 rounded-full py-4 px-8">search</div>
    </div>
    <div class="umkm-list mb-24 grid grid-cols-3 w-full gap-10"></div>
  </section>

  <!-- Footer -->
  <app-footer></app-footer>
</body>
</html>