<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Other tags -->
    <meta name="dicoding:email" content="salim.yaklu@gmail.com" />
    <!-- Other tags -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>Travloc</title>
  </head>
  <body class="font-plusJakarta bg-alabaster w-screen overflow-x-hidden">
    <header
      id="header"
      class="flex items-center fixed px-20.5 h-40 w-screen bg-transparent z-50 top-0 transition ease-in duration-300"
    >
      <div class="flex items-center justify-between w-full" id="nav-menu">
        <h1 class="text-4xl font-grandHotel text-white">Travloc</h1>
        <nav>
          <ul class="flex items-center justify-between gap-10 text-white">
            <li><a href="#">Beranda</a></li>
            <li><a href="destination.html">Destinasi</a></li>
            <li><a href="usaha-lokal.html">Usaha Lokal</a></li>
            <li><a href="#about">Tentang Kami</a></li>
          </ul>
        </nav>
        <a
          href="register.html"
          id="register"
          class="bg-white text-princetonOrange font-semibold py-1.5 px-8 border-none rounded-lg"
          >Daftar</a
        >
      </div>
    </header>

    <!-- Hero -->
    <section
      id="hero"
      class="m-7 h-screen rounded-3xl overflow-hidden relative"
      style="background-image: url(images/hero-bg.png)"
    >
      <div
        class="hero-content flex flex-col items-center justify-center mt-64 z-0"
      >
        <h1 class="text-5xl font-semibold text-white text-center">
          Temukan Keindahan Wisata Lokal <br />di Ujung Jari Anda, Jelajahi
          Sekarang!
        </h1>
        <!-- Search Input -->
        <form class="mt-9 w-2/5">
          <label
            for="search"
            class="mb-2 text-sm font-medium sr-only text-white"
            >Search</label
          >
          <div class="relative">
            <input
              type="search"
              id="search"
              class="block w-full p-4 ps-6 text-sm text-white border border-white rounded-full bg-gray-400/15 placeholder-gray-400 focus:outline-none"
              placeholder="Telusuri destinasi, produk lokal dan usaha lokal"
              required
            />
            <button
              type="submit"
              class="text-white absolute end-2 bottom-1.2 bg-princetonOrange hover:bg-spanishOrange focus:ring-4 focus:outline-none focus:ring-feldsparOrange font-medium rounded-full text-sm px-8 py-2"
            >
              <i class="fa-solid fa-arrow-right text-lg text-center"></i>
            </button>
          </div>
        </form>
      </div>
      <div class="grid grid-cols-2 justify-items-stretch mx-16 mt-40">
        <div class="flex flex-col gap-5 items-start">
          <div
            class="location inline-flex items-center justify-center gap-3 border py-2 px-4 rounded-full w-48"
          >
            <svg
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.843 4.568a8.707 8.707 0 1 1 12.314 12.314l-1.187 1.174c-.875.858-2.01 1.962-3.406 3.312a2.25 2.25 0 0 1-3.128 0l-3.491-3.396c-.439-.431-.806-.794-1.102-1.09a8.707 8.707 0 0 1 0-12.314Zm11.253 1.06A7.207 7.207 0 1 0 6.904 15.822L8.39 17.29a753.98 753.98 0 0 0 3.088 3 .75.75 0 0 0 1.043 0l3.394-3.3c.47-.461.863-.85 1.18-1.168a7.207 7.207 0 0 0 0-10.192ZM12 7.999a3.002 3.002 0 1 1 0 6.004 3.002 3.002 0 0 1 0-6.003Zm0 1.5a1.501 1.501 0 1 0 0 3.004 1.501 1.501 0 0 0 0-3.003Z"
                fill="#ffffff"
              />
            </svg>
            <p class="text-white text-sm m-0">Pulau Padar, NTT</p>
          </div>
          <p class="text-white text-base">
            Jelajahi keindahan nusantara bersama kami dan temukan <br />pesona
            tersembunyi serta UMKM lokal di setiap sudut negeri.
          </p>
        </div>
        <button
          class="flex gap-2 bg-white/15 py-3 px-5 rounded-full border h-13 justify-self-end self-end"
        >
          <p class="text-white">Jelajahi Sekarang</p>
          <svg
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19.79 13.267a.75.75 0 0 0-1.086-1.034l-5.954 6.251V3.75a.75.75 0 1 0-1.5 0v14.734l-5.955-6.251a.75.75 0 0 0-1.086 1.034l7.067 7.42c.16.168.366.268.58.3a.753.753 0 0 0 .29-.001.995.995 0 0 0 .578-.3l7.067-7.419Z"
              fill="#ffffff"
            />
          </svg>
        </button>
      </div>
    </section>

    <!-- About -->
    <section id="about" class="mx-20.5 my-32">
      <h2
        class="uppercase text-princetonOrange font-semibold"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        ||<span class="ml-3">Tentang Kami</span>
      </h2>
      <div class="grid grid-cols-2 justify-items-stretch">
        <p
          class="w-190 mt-7 text-4.5xl font-medium"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          Kami menghubungkan Anda dengan keindahan wisata dan UMKM lokal di
          Indonesia.
          <span class="text-gray-500"
            >Kami membantu Anda menjelajahi pesona Nusantara dan mendukung
            perekonomian lokal.</span
          >
        </p>
        <div
          class="flex items-center gap-8 justify-self-end self-end"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <div class="flex flex-col items-center gap-2">
            <h3 class="text-4.5xl font-semibold">250+</h3>
            <p class="text-gray-400 font-medium">Pengguna Setia</p>
          </div>
          <div class="w-0.5 h-9 bg-gray-400"></div>
          <div class="flex flex-col items-center gap-2">
            <h3 class="text-4.5xl font-semibold">24+</h3>
            <p class="text-gray-400 font-medium">Tempat Wisata</p>
          </div>
          <div class="w-0.5 h-9 bg-gray-400"></div>
          <div class="flex flex-col items-center gap-2">
            <h3 class="text-4.5xl font-semibold">173+</h3>
            <p class="text-gray-400 font-medium">UMKM Lokal</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Destination -->
    <section id="destination" class="mx-20.5 my-52">
      <h2
        class="uppercase text-princetonOrange font-semibold"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        ||<span class="ml-3">Destinasi</span>
      </h2>
      <h3
        class="text-4.5xl font-medium mt-7"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Jelajahi Pesona Alam Nusantara Bersama Kami
      </h3>
      <p
        class="text-gray-500 text-lg mt-3"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Temukan destinasi terindah, dukung UMKM lokal, dan nikmati pengalaman
        wisata <br />yang autentik bersama kami.
      </p>
      <div
        class="destination-content mt-12 grid grid-rows-2 grid-flow-col gap-6"
      >
        <div
          class="big-card row-span-2 w-175 rounded-3xl flex flex-col justify-end px-10 py-12 gap-1"
          style="background-image: url(./images/destination-danauToba.png)"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          <h2 class="text-white text-2xl font-semibold">
            Danau Toba, Sumatera Utara
          </h2>
          <p class="text-gray-400 text-sm">
            Nikmati Keindahan dan Ketenangan di Danau Vulkanik Terbesar di
            Dunia, <br />serta Temukan Budaya Unik dan Tradisi Lokal.
          </p>
        </div>
        <div
          class="card col-span-2 h-76 w-153 rounded-3xl flex flex-col justify-end px-10 py-12 gap-1"
          style="background-image: url(./images/destination-komodo.png)"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          <h2 class="text-white text-2xl font-semibold">Pulau Komodo, NTT</h2>
          <p class="text-gray-400 text-sm">
            Temui Komodo dan Jelajahi Keajaiban Alam di Pulau <br />Eksotis Ini.
          </p>
        </div>
        <div
          class="card col-span-2 h-76 w-153 rounded-3xl flex flex-col justify-end px-10 py-12 gap-1"
          style="background-image: url(./images/destination-bunaken.png)"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h2 class="text-white text-2xl font-semibold">
            Bunaken, Sulawesi Utara
          </h2>
          <p class="text-gray-400 text-sm">
            Selami Keindahan Terumbu Karang dan Kehidupan <br />Bawah Laut yang
            Memukau.
          </p>
        </div>
      </div>
    </section>

    <!-- Sponsor -->
    <section id="sponsor" class="w-full -my-20">
      <img src="images/sponsor.png" alt="sponsor" />
    </section>

    <!-- Selected Destination Province -->
    <section id="selectedProvince" class="mx-20.5 my-48">
      <h2
        class="uppercase text-princetonOrange font-semibold text-center"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        ||<span class="ml-3">Destinasi</span>
      </h2>
      <h3
        class="text-5xl mt-7 font-medium text-center"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Temukan Keajaiban di Destinasi <br />Wisata Terbaik Nusantara
      </h3>
      <div class="province-content mt-20 flex gap-6">
        <div
          class="toogle-card cursor-pointer relative w-161.2 h-129.7 bg-gray-500 rounded-3xl overflow-hidden"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="1000"
        >
          <img
            src="images/komodo.jpg"
            alt="komodo"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-30"></div>
          <div class="absolute top-0 left-0 p-7 z-10">
            <p class="rounded-full border px-4 py-2 text-white text-sm">
              Pulau Komodo
            </p>
          </div>
          <div class="absolute bottom-0 left-0 px-7 py-9 z-10 text-white">
            <h3 class="text-2xl font-bold">Nusa Tenggara Timur</h3>
            <p class="text-sm text-gray-300">
              Eksplorasi Budaya dan Keindahan Alam Nusa <br />Tenggara Timur.
            </p>
          </div>
          <div class="link-container bottom-0 right-0 px-7 py-10 absolute z-10">
            <a
              href="#"
              class="text-white border py-2 px-6 rounded-full text-sm bg-white/15"
              >Telusuri</a
            >
          </div>
        </div>

        <div
          class="toogle-card cursor-pointer relative w-92.7 h-129.7 bg-gray-500 rounded-3xl overflow-hidden"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="1000"
        >
          <img
            src="images/rumah-adat-sumut.webp"
            alt="rumah balon"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-30"></div>
          <div class="absolute top-0 left-0 p-7 z-10">
            <p class="rounded-full border px-4 py-2 text-white text-sm">
              Rumah Balon
            </p>
          </div>
          <div class="absolute bottom-0 left-0 px-7 py-9 z-10 text-white">
            <h3 class="text-2xl font-bold">Sumatera Utara</h3>
            <p class="text-sm text-gray-300">
              Eksplorasi Budaya dan Keindahan <br />Alam Sumatera Utara.
            </p>
          </div>
          <div
            class="link-container bottom-0 right-0 px-7 py-10 absolute z-10 hidden"
          >
            <a
              class="text-white border py-2 px-6 rounded-full text-sm bg-white/15"
              >Telusuri</a
            >
          </div>
        </div>

        <div
          class="toogle-card cursor-pointer relative w-92.7 h-129.7 bg-gray-500 rounded-3xl overflow-hidden"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="1000"
        >
          <img
            src="images/monumen-yesus.jpg"
            alt="monumen yesus"
            class="w-full h-full object-cover"
          />
          <div class="absolute inset-0 bg-black opacity-30"></div>
          <div class="absolute top-0 left-0 p-7 z-10">
            <p class="rounded-full border px-4 py-2 text-white text-sm">
              Monumen Yesus Memberkati
            </p>
          </div>
          <div class="absolute bottom-0 left-0 px-7 py-9 z-10 text-white">
            <h3 class="text-2xl font-bold">Sulawesi Utara</h3>
            <p class="text-sm text-gray-300">
              Eksplorasi Budaya dan Keindahan <br />Alam Sulawesi Utara.
            </p>
          </div>
          <div
            class="link-container bottom-0 right-0 px-7 py-10 absolute z-10 hidden"
          >
            <a
              class="text-white border py-2 px-6 rounded-full text-sm bg-white/15"
              >Telusuri</a
            >
          </div>
        </div>
      </div>
    </section>

    <!-- FAQs -->
    <section id="faq" class="mx-20.5 my-30 flex justify-between">
      <div>
        <h2
          class="uppercase text-princetonOrange font-semibold"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          ||<span class="ml-3">FAQs</span>
        </h2>
        <h3
          class="text-6xl mt-16"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          Frequently Asked <br />Questions
        </h3>
        <p
          class="text-lg text-gray-500 mt-12"
          data-aos="fade-up"
          data-aos-duration="500"
        >
          Temukan Jawaban untuk Pertanyaan Umum Anda tentang <br />Travloc dan
          Pengalaman Wisata Anda.
        </p>
      </div>
      <div>
        <div
          class="faq-card cursor-pointer w-182.7 border border-black px-8 py-12 rounded-2xl flex flex-col justify-center items-start mb-6"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h4 class="text-lg font-medium">
            Bagaimana saya dapat menemukan UMKM lokal di Travloc?
          </h4>
          <p class="text-sm text-gray-500 mt-6">
            Anda dapat menemukan UMKM lokal di Travloc dengan menggunakan fitur
            pencarian atau menavigasi melalui menu usaha lokal. Setiap profil
            UMKM menyediakan informasi detail tentang produk atau layanan
            mereka, lokasi, jam operasional dan ratingnya.
          </p>
        </div>
        <div
          class="faq-card cursor-pointer w-182.7 border border-black px-8 py-12 rounded-2xl flex flex-col justify-center items-start mb-6"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h4 class="text-lg font-medium">
            Bagaimana cara saya menggunakan fitur pencarian Travloc?
          </h4>
          <p class="text-sm text-gray-500 mt-6 hidden">
            Masukkan kata kunci destinasi, aktivitas, atau UMKM di kotak
            pencarian di halaman utama. Telusuri hasil yang relevan, baca ulasan
            pengguna, dan simpan hasil yang Anda sukai untuk referensi.
          </p>
        </div>
        <div
          class="faq-card cursor-pointer w-182.7 border border-black px-8 py-12 rounded-2xl flex flex-col justify-center items-start mb-6"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h4 class="text-lg font-medium">
            Apakah informasi yang disediakan di Travloc selalu terbaru?
          </h4>
          <p class="text-sm text-gray-500 mt-6 hidden">
            Kami selalu berusaha untuk menyediakan informasi terbaru dan akurat.
            Tim kami secara rutin memperbarui konten dan memverifikasi data
            untuk memastikan Anda mendapatkan informasi terkini mengenai
            destinasi wisata dan UMKM lokal.
          </p>
        </div>
        <div
          class="faq-card cursor-pointer w-182.7 border border-black px-8 py-12 rounded-2xl flex flex-col justify-center items-start mb-6"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
          <h4 class="text-lg font-medium">
            Apakah Travloc menyediakan paket wisata?
          </h4>
          <p class="text-sm text-gray-500 mt-6 hidden">
            Tidak, Travloc tidak menyediakan paket wisata. Kami adalah platform
            perantara yang bertujuan untuk mengenalkan destinasi wisata lokal
            dan mempromosikan UMKM lokal. Melalui Travloc, Anda dapat menemukan
            informasi lengkap dan terpercaya tentang berbagai tempat wisata dan
            usaha lokal, serta menghubungi penyedia layanan wisata langsung.
          </p>
        </div>
      </div>
    </section>

    <!-- Review -->
    <section id="review" class="mx-20.5 mt-44 mb-32">
      <h2
        class="uppercase text-princetonOrange font-semibold text-center"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        ||<span class="ml-3">Ulasan</span>
      </h2>
      <h3
        class="text-5xl mt-7 font-medium text-center"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        Pendapat dan Pengalaman Pengguna <br />Tentang Kami
      </h3>
      <div class="review-content grid grid-cols-3 gap-7 mt-20">
        <review-card data-aos="fade-left" data-aos-duration="600">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp1.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Byeon Woo-seok</span>
          <span slot="review-text">
            Saya menemukan semua informasi yang saya butuhkan untuk perjalanan
            ke Sumatera Utara. Panduan dan tipsnya sangat membantu, dan saya
            berhasil menemukan beberapa tempat wisata yang belum banyak
            diketahui orang.
          </span>
        </review-card>
        <review-card data-aos="fade-left" data-aos-duration="1300">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp2.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Tatiana Kuznetsova</span>
          <span slot="review-text">
            Desain Travloc sangat user-friendly. Navigasi mudah dan saya bisa
            menemukan informasi dengan cepat. Saya suka bagaimana semua disusun
            dengan rapi dan jelas.
          </span>
        </review-card>
        <review-card data-aos="fade-left" data-aos-duration="1800">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp3.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Sophia Liu</span>
          <span slot="review-text">
            Saya pernah menghubungi layanan pelanggan Travloc untuk beberapa
            pertanyaan, dan mereka sangat responsif dan membantu. Pengalaman
            yang sangat menyenangkan dan membuat perjalanan saya lebih lancar.
          </span>
        </review-card>
        <review-card data-aos="fade-right" data-aos-duration="1800">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp4.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Axeline Hanna</span>
          <span slot="review-text">
            Travloc memberi saya pengalaman wisata yang sangat autentik. Saya
            bisa menikmati keindahan alam dan budaya lokal sekaligus mendukung
            UMKM setempat. Ini cara yang bagus untuk berwisata!
          </span>
        </review-card>
        <review-card data-aos="fade-right" data-aos-duration="1300">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp5.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Ryuji Takahashi</span>
          <span slot="review-text">
            Saya sangat menghargai informasi detail dan akurat yang disediakan
            oleh Travloc. Semua yang saya butuhkan untuk perjalanan ke Sulawesi
            Utara ada di sini, termasuk peta, ulasan, dan rekomendasi aktivitas
          </span>
        </review-card>
        <review-card data-aos="fade-right" data-aos-duration="600">
          <img
            slot="profile-picture"
            src="images/profile-photo/pp6.jpg"
            alt="profile picture"
          />
          <span slot="reviewer-name">Elena Mikhailov</span>
          <span slot="review-text">
            Travloc benar-benar membantu saya menemukan UMKM lokal yang luar
            biasa. Saya membeli oleh-oleh khas dari NTT dan sangat puas dengan
            kualitasnya. Platform ini sangat mudah digunakan dan informatif.
          </span>
        </review-card>
      </div>
    </section>

    <!-- Subscribe -->
    <div id="subscribe" class="p-7">
      <div class="relative w-full h-161.2 overflow-hidden rounded-3xl">
        <img
          src="images/padar2.jpg"
          alt="padar"
          class="w-full h-full object-cover"
          data-aos="zoom-out"
          data-aos-duration="1200"
        />
        <div class="absolute inset-0 bg-black opacity-40"></div>
        <div
          class="absolute inset-0 flex flex-col items-center justify-center z-10"
        >
          <h2
            class="text-white text-5xl font-medium"
            data-aos="fade-down"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
            Tunggu apa lagi? Mulai petualanganmu <br />dan jelajahi pengalaman
            baru hari ini
          </h2>
          <!-- Search Input -->
          <form
            class="mt-16 w-2/5"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="100"
          >
            <label
              for="search"
              class="mb-2 text-sm font-medium sr-only text-white"
              >Search</label
            >
            <div class="relative">
              <input
                type="search"
                id="search"
                class="block w-full p-4 ps-6 text-sm text-white border border-white rounded-full bg-gray-400/15 placeholder-gray-400 focus:outline-none"
                placeholder="Masukkan email kamu disini . . ."
                required
              />
              <button
                type="submit"
                class="text-white absolute end-1.5 bottom-1.2 bg-princetonOrange hover:bg-spanishOrange focus:ring-4 focus:outline-none focus:ring-feldsparOrange font-medium rounded-full text-sm px-8 py-3"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </body>
</html>
